<!-- NavBar -->
<div role="navigation">
  <nav class="navbar navbar-expand-lg navbar-light"
  style="background-color: #52b788;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Naturales Cattleya</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/listar" style="color: beige;"><i class="fas fa-list-ul"
              style="margin-right: 10px;"></i>Listar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add" style="color: beige;"><i class="far fa-plus-square"
              style="margin-right: 10px;"></i>Nuevo</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="/login"
              tabindex="-1"
              aria-disabled="true"
              >Disabled</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link disabled"
              href="/registro"
              tabindex="-1"
              aria-disabled="true"
              >Disabled</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              ><i class="fas fa-shopping-cart"></i> Carrito</a
            >
          </li>
        </ul>
        <ul class="nav-navbar-nav-navbar-right">
          <li><a href="carrito.html"><i class="" style="font: size 2.5em;color:black;"></i></a></li>  
         </ul>
      </div>
    </div>
  </nav>
</div>
