<app-menu></app-menu>
<div class="container text-center">
  <div *ngIf="isLogged; else loggedOut">
    <h2>Bienvenido {{ nombreUsuario }}</h2>
  </div>
  <ng-template #loggedOut>No has iniciado sesión</ng-template>
</div>
<h1>
  <img src="assets/img/logo.png" width="200p0x" height="180px" /> NATURALES
  CATTLEYA
</h1>


<div class="contenedor">
  <div class="form">
    <form>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <h2>Vitamina C</h2>
            <img src="assets/img/vitaminaC.png" alt="" />
          </div>
          <div class="item">
            <h2>Colágeno</h2>
            <img src="assets/img/colageno2.png" alt="" />
          </div>
          <div class="item">
            <h2>GinkgoBiloba</h2>
            <img src="assets/img/gingobiloa.png" alt="" />
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div class="elemento">
        <input type="submit" value="Ver Información" id="submit_btn" />
      </div>
    </form>
  </div>
</div>

<!-- Footer -->
<footer
  class="text-center text-lg-start text-muted"
  style="background-color: #52b788"
>
  <section
    class="
      d-flex
      justify-content-center justify-content-lg-between
      p-4
      border-bottom
    "
    style="margin: 45px"
  >
    <div class="me-5 d-none d-lg-block">
      <span
        style="
          color: #000;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
            'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        "
        >Visita nuestras redes:</span
      >
    </div>

    <!-- Right -->
    <div>
      <a href="" class="me-4-text-reset">
        <i class="bi bi-facebook"></i>
      </a>

      <a href="" class="me-4-text-reset">
        <i class="bi bi-twitter"></i>
      </a>

      <a href="" class="me-4-text-reset">
        <i class="bi bi-instagram"></i>
      </a>
    </div>
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->

        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4" style="color: #22577a">
            <i class="fas fa-gem me-3"></i><b>Acerca de Naturales Cattleya</b>
          </h6>
          <p style="color: black">
            ¡Bienvenidos a Naturales Cattleya. Tu tienda virtual de productos
            naturales de calidad y tradición!
          </p>
        </div>

        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4" style="color: #22577a">
            <i class="fas fa-gem me-3"></i><b>Contacto</b>
          </h6>
          <p style="color: black">
            Naturales cattleya 2021 <br />
            Dirección: calle 1# 2-34<br />
            Popayán,cauca<br />
            redes:@naturalescatlleya<br />
            correo:naturalescatlleya@gmail.com<br />
          </p>
        </div>

        <div class="col-md-8 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6
            class="text-uppercase fw-bold mb-3"
            style="color: #22577a; margin-left: 30px"
            
          >
          <i class="fas fa-gem me-3"></i>
            <b> Información</b>
          </h6>
          <i class="col-lg-12 col-md-8 mb-5 mb-md-5 ;"></i>
          <p style="color: black; margin-left: 30px">
            Productos Naturales <br />
            Produtos de salud y Belleza
          </p>
        </div>
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: #22577a">
    © 2021 Copyright
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/"></a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
